<a href="https://colab.research.google.com/github/rituraj17/Deep-Learning/blob/master/nifty_index_funds_50_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
#pip3 install beautifulsoup4

In [0]:
import requests
from bs4 import BeautifulSoup

In [0]:
url_input="https://www.fincash.com/l/best-nifty-index-mutual-funds"
html_output=requests.get(url_input)
soup = BeautifulSoup(html_output.content, 'html.parser')

In [0]:
# print(soup.prettify())

In [5]:
# TO find the title of the page 
soup.find("title").text

'Top 10 Best Performing Nifty Index Mutual Funds 2020 | Fincash.com'

In [6]:
# method to extract the  heading of list or index of the points
(soup.find("div",class_="fund-grid-container dashed ng-star-inserted")).find("h3").text

'1. Principal Nifty 100 Equal Weight Fund'

In [7]:
# Description of the points 
(soup.find("div",class_="fund-grid-container dashed ng-star-inserted")).find("p", class_="bq-class").text

' Principal Nifty 100 Equal Weight Fund is a Others - Index Fund fund was launched on 27 Jul 99. It is a fund with Moderately High risk and has given a CAGR/Annualized return of  since its launch. \xa0Ranked 72 in Index Fund category.  \xa0Return for 2019 was 2.8% , 2018 was -3.4% and 2017 was 28.9% . '

In [8]:
(soup.find("div",class_="fund-grid-container dashed ng-star-inserted")).find("p", class_="light-bold").text

' Below is the key information for Principal Nifty 100 Equal Weight Fund '

In [9]:
(soup.find("div",class_="fund-grid-container dashed ng-star-inserted")).find("table", class_="fund-table-grid border basicData float-left")

<table class="fund-table-grid border basicData float-left"><tbody><!-- --><!-- --><!-- --><tr class="dgray-txt white-back-imp ng-star-inserted"><td colspan="2"><!-- --><a class="ng-star-inserted" href="/l/mutual-funds/principal-nifty-100-equal-weight-fund">Principal Nifty 100 Equal Weight Fund</a><!-- --><br/><span class="txt-lh-11"> Growth </span></td></tr><!-- --><tr class="ng-star-inserted"><!-- --><!-- --><td class="ng-star-inserted">Launch Date </td><!-- --><!-- --><td class="ng-star-inserted"><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --> 27 Jul 99 <!-- --><!-- --><!-- --></td></tr><tr class="ng-star-inserted"><!-- --><!-- --><td class="ng-star-inserted">NAV (29 Apr 20) </td><!-- --><!-- --><td class="ng-star-inserted"><!-- --><!-- --><!-- --> ₹56.6431 <!-- --><!-- --><!-- --><span class="txt-lh-11 success ng-star-inserted"> ↑ 0.86   (1.54 %) </span><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --></td></tr><tr class="ng-star-inserted"><!-- --><!-- --><td class="ng-star-inserted">Net Assets (Cr) </td><!-- --><!-- --><td class="ng-star-inserted"><!-- --><!-- --><!-- --><!-- --> ₹12 on 31 Mar 20 <!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --></td></tr><tr class="ng-star-inserted"><!-- --><!-- --><td class="ng-star-inserted">Category </td><!-- --><!-- --><td class="ng-star-inserted"><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><span class="ng-star-inserted">Others <!-- --><!-- -->- Index Fund</span><!-- --><!-- --><!-- --><!-- --></td></tr><tr class="ng-star-inserted"><!-- --><!-- --><td class="ng-star-inserted">AMC </td><!-- --><!-- --><td class="ng-star-inserted"><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --> Principal Pnb Asset Mgmt. Co. Priv. Ltd. <!-- --><!-- --></td></tr><tr class="ng-star-inserted"><!-- --><!-- --><td class="ng-star-inserted">Rating </td><!-- --><!-- --><td class="ng-star-inserted"><!-- --><!-- --><!-- --><!-- --><!-- --><span class="ng-star-inserted"><span class="yellow">☆</span><span class="yellow">☆</span></span><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --></td></tr><tr class="ng-star-inserted"><!-- --><!-- --><td class="ng-star-inserted">Risk </td><!-- --><!-- --><td class="ng-star-inserted"><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><span class="ng-star-inserted">Moderately High</span><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --></td></tr><tr class="ng-star-inserted"><!-- --><!-- --><td class="ng-star-inserted">Expense Ratio </td><!-- --><!-- --><td class="ng-star-inserted"><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- -->0.9<!-- --><!-- --><!-- --><!-- --><!-- --></td></tr><tr class="ng-star-inserted"><!-- --><!-- --><td class="ng-star-inserted">Sharpe Ratio </td><!-- --><!-- --><td class="ng-star-inserted"><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- -->-1.36<!-- --><!-- --><!-- --><!-- --><!-- --></td></tr><tr class="ng-star-inserted"><!-- --><!-- --><td class="ng-star-inserted">Information Ratio </td><!-- --><!-- --><td class="ng-star-inserted"><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- -->0<!-- --><!-- --><!-- --><!-- --><!-- --></td></tr><tr class="ng-star-inserted"><!-- --><!-- --><td class="ng-star-inserted">Alpha Ratio </td><!-- --><!-- --><td class="ng-star-inserted"><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- -->0<!-- --><!-- --><!-- --><!-- --><!-- --></td></tr><tr class="ng-star-inserted"><!-- --><!-- --><td class="ng-star-inserted">Min Investment </td><!-- --><!-- --><td class="ng-star-inserted"><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --> 5,000 <!-- --><!-- --><!-- --><!-- --><!-- --></td></tr><tr class="ng-star-inserted"><!-- --><!-- --><td class="ng-star-inserted">Min SIP Investment </td><!-- --><!-- --><td class="ng-star-inserted"><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --> 500 <!-- --><!-- --><!-- --><!-- --><!-- --></td></tr><tr class="ng-star-inserted"><!-- --><!-- --><td class="ng-star-inserted">Exit Load </td><!-- --><!-- --><td class="ng-star-inserted"><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --> 0-90 Days (1%),90 Days and above(NIL) <!-- --><!-- --></td></tr><tr class="ng-star-inserted"><!-- --><!-- --></tr><tr class="ng-star-inserted"><!-- --><!-- --></tr><tr class="ng-star-inserted"><!-- --><!-- --></tr></tbody></table>

In [0]:
x1=soup.find("div",class_="width-100 ng-star-inserted").findAll("div",class_="fund-grid-container dashed ng-star-inserted")

In [0]:
def remove_unwanted(data_value):
  xyz=list(set(data_value))
  xyz.sort()
  xyz.pop(0)
  return xyz[0]


for pq in x1[:1]:
  s1={}

  title=pq.find("h3").text
  s1["title"]=title

  # Descrbtion of the points 
  desc=pq.find("p", class_="bq-class").text

In [0]:
  # for  growth table 
x1=soup.find("div",class_="width-100 ng-star-inserted").findAll("div",class_="fund-grid-container dashed ng-star-inserted")

def growth_table(data_input):
  for pq in data_input[:1]:
    s1={}
    grow1=pq.find("app-fund-data-growth-10k",class_="ng-star-inserted").find("div",class_="fund-grid-container no-pad ng-star-inserted")
    grow1_table=grow1.find("table",class_="fund-table-grid-ret no-row-diff basicData float-right")
    grow1_table_header=grow1_table.find("thead")
    data = [[td.findChildren(text=True) for td in tr.findAll("th")] for tr in grow1_table_header]
    header_value=[]
    for i in data[0]:
      header_value.append(i[0])
    # print(header_value)

    table_data=grow1_table.find("tbody")
    rows=table_data.findAll('tr',class_='ng-star-inserted')
    data_output=[]
    for tr in rows:
      i=0
      x=[]
      for td in tr.findAll("td"):
        x.append(td.findChildren(text=True))
      data_output.append(x)
    
    table_Data_list=[]
    for i in data_output:
      s1={}
      if len(i)!=0:
        s1[header_value[0]]=i[0][0].strip()
        if i[1][0]==' ':
          s1[header_value[1]]=None
        else:
          s1[header_value[1]]=i[1][0].strip()
        
      table_Data_list.append(s1)
  return table_Data_list

In [13]:
x1=soup.find("div",class_="width-100 ng-star-inserted").findAll("div",class_="fund-grid-container dashed ng-star-inserted")

for t1 in x1[:1]:
  print(growth_table([t1]))

[{'Date': '31 Mar 15', 'Value': '₹10,000'}, {'Date': '31 Mar 16', 'Value': '₹9,146'}, {'Date': '31 Mar 17', 'Value': '₹10,861'}, {'Date': '31 Mar 18', 'Value': '₹12,009'}, {'Date': '31 Mar 19', 'Value': '₹12,451'}, {'Date': '31 Mar 20', 'Value': '₹8,714'}]

In [14]:
# return table
x1=soup.find("div",class_="width-100 ng-star-inserted").findAll("div",class_="fund-grid-container dashed ng-star-inserted")

def return_data_output(data_input):
  for pq in data_input[:1]:
    s1={}
    stats_main_rowD_class=pq.find("div",class_="rowD")
    class1_sub_columnD_first=stats_main_rowD_class.find("div",class_="columnD first")

    descp=class1_sub_columnD_first.find("h4",class_="center-align white-back-imp pad-tb no-margin light-bold").text
    descp=descp+ "\n" + class1_sub_columnD_first.find("p",class_="left-align-imp white-back-imp ng-star-inserted").text
    table_class_data=class1_sub_columnD_first.find("table",class_="fund-table-grid-ret no-row-diff ng-star-inserted")
    header_value=[]
    table_header=table_class_data.find("thead")
    data = [[td.findChildren(text=True) for td in tr.findAll("th",class_="light-bold")] for tr in table_header]
    for i in data:
      for y in i:
        
        header_value.append(y[0])
    
    table_data=table_class_data.find("tbody")
    rows=table_data.findAll('tr',class_='ng-star-inserted')
    
    data = [[td.findChildren(text=True) for td in tr.findAll("td",class_="ng-star-inserted")] for tr in rows]
    
    table_Data_list=[]
    for i in data[1:]:
      s1={}
      
      if len(i)!=0:
        s1[header_value[0]]=i[0][0].strip()
        
        if i[1][0]==' ':
          s1[header_value[1]]=None
        else:
          s1[header_value[1]]=i[1][0].strip()
        
      table_Data_list.append(s1)
    
  return table_Data_list

return_data_output(x1)

[{'Duration': '3 Month', 'Returns': '-22.6%'},
 {'Duration': '6 Month', 'Returns': '-21.1%'},
 {'Duration': '1 Year', 'Returns': '-22.1%'},
 {'Duration': '3 Year', 'Returns': '-4.1%'},
 {'Duration': '5 Year', 'Returns': '0%'},
 {'Duration': '10 Year', 'Returns': None},
 {'Duration': '15 Year', 'Returns': None},
 {'Duration': 'Since launch', 'Returns': None}]

In [15]:


# for know only historical 


x1=soup.find("div",class_="width-100 ng-star-inserted").findAll("div",class_="fund-grid-container dashed ng-star-inserted")

def historical_Data_output(data_input):
  for pq in data_input[:1]:
    s1={}
    stats_main_rowD_class=pq.find("div",class_="rowD")
    class1_sub_columnD_first=stats_main_rowD_class.find("div",class_="columnD first")

    descp=class1_sub_columnD_first.find("h5",class_="left-align-imp white-back-imp pad-t no-margin light-bold ng-star-inserted").text


    table_class_data=class1_sub_columnD_first.findAll("table",class_="fund-table-grid-ret no-row-diff ng-star-inserted")
    for xyz in table_class_data[1:]:


      header_value=[]
      table_header=xyz.find("thead")
      data = [[td.findChildren(text=True) for td in tr.findAll("th",class_="light-bold")] for tr in table_header]
      for i in data:
        for y in i:

          header_value.append(y[0])

      table_data=xyz.find("tbody")
      rows=table_data.findAll('tr',class_='ng-star-inserted')
      
      data = [[td.findChildren(text=True) for td in tr.findAll("td",class_="ng-star-inserted")] for tr in rows]
      
      table_Data_list=[]
      for i in data[1:]:
        s1={}
        
        if len(i)!=0:
          s1[header_value[0]]=i[0][0].strip()
          
          if i[1][0]==' ':
            s1[header_value[1]]=None
          else:
            s1[header_value[1]]=i[1][0].strip()
          
        table_Data_list.append(s1)
      
    return table_Data_list

historical_Data_output(x1)

[{'Returns': '-3.4%', 'Year': '2018'},
 {'Returns': '28.9%', 'Year': '2017'},
 {'Returns': '3.4%', 'Year': '2016'},
 {'Returns': '-3.9%', 'Year': '2015'},
 {'Returns': '31.2%', 'Year': '2014'},
 {'Returns': '7.7%', 'Year': '2013'},
 {'Returns': '27.2%', 'Year': '2012'},
 {'Returns': '-24.3%', 'Year': '2011'},
 {'Returns': '17.6%', 'Year': '2010'}]

In [16]:

# fund manager table 

x1=soup.find("div",class_="width-100 ng-star-inserted").findAll("div",class_="fund-grid-container dashed ng-star-inserted")

def find_fund_manager(data_input):
  for pq in data_input[:1]:
    s1={}
    stats_main_rowD_class=pq.find("div",class_="rowD")
    class1_sub_columnD_first=stats_main_rowD_class.find("div",class_="columnD first")

    descp=class1_sub_columnD_first.find("h5",class_="left-align-imp white-back-imp pad-t no-margin light-bold ng-star-inserted").text

    table_class_data=class1_sub_columnD_first.findAll("table",class_="fund-table-grid-manager no-row-diff ng-star-inserted")
    for xyz in table_class_data:

      header_value=[]
      table_header=xyz.find("thead")
      data = [[td.findChildren(text=True) for td in tr.findAll("th",class_="light-bold")] for tr in table_header]
      for i in data:
        for y in i:

          header_value.append(y[0])

      table_data=xyz.find("tbody")
      rows=table_data.findAll('tr',class_='ng-star-inserted')

      data=[]
      for tr in rows:
        for td in tr.findAll("td"):

          data.append(td.text)

      table_Data_list=[]
      s1={}
      s1[header_value[0]]=data[0]
      s1[header_value[1]]=data[1]
      s1[header_value[2]]=data[2]


      table_Data_list.append(s1)

    return table_Data_list

find_fund_manager(x1)

[{'Name': 'Rajat Jain', 'Since': '21 Aug 15', 'Tenure': '4.36 Yr.'}]

In [17]:
# assest allocation



x1=soup.find("div",class_="width-100 ng-star-inserted").findAll("div",class_="fund-grid-container dashed ng-star-inserted")

def find_Assest_Allocation(data_input):
  for pq in data_input[:1]:
    s1={}
    x=pq.find("div",class_="rowD")
    class1_sub_columnD=x.findAll("div",class_="columnD")
    class1_sub_columnD=class1_sub_columnD[1]
    
    test=class1_sub_columnD.find("app-fund-data-asset-allocation").find("div",class_="fund-grid-container no-pad ng-star-inserted")
    table_class_data=test.findAll("table",class_="fund-table-grid-alloc no-row-diff")
    for xyz in table_class_data:

      header_value=[]
      table_header=xyz.find("thead")
      data = [[td.findChildren(text=True) for td in tr.findAll("th",class_="light-bold")] for tr in table_header]
      for i in data:
        for y in i:
          
          header_value.append(y[0])
      table_data=xyz.find("tbody")
      rows=table_data.findAll('tr',class_='ng-star-inserted')
      final_table_data=[]
      for tr in rows:
        s1={}
        table_data=[]
        for td in tr.findAll("td"):
          table_data.append(td.text)

        s1["Asset_Class"]=table_data[0]
        s1[header_value[1]]=table_data[1]
      

        final_table_data.append(s1)
      
    return final_table_data



find_Assest_Allocation(x1)

[{'Asset_Class': 'Cash', 'Value': '0.79%'},
 {'Asset_Class': 'Equity', 'Value': '99.21%'}]

In [0]:
# top security portfoilio

from pprint import pprint
x1=soup.find("div",class_="width-100 ng-star-inserted").findAll("div",class_="fund-grid-container dashed ng-star-inserted")
def find_portfolio_details(data_input):

  for pq in data_input[:1]:
    s1={}
    x=pq.find("div",class_="rowD")

    class1_sub_columnD=x.findAll("div",class_="columnD")
    class1_sub_columnD=class1_sub_columnD[1]

    
    test=class1_sub_columnD.find("app-fund-data-holdings").find("div",class_="fund-grid-container no-pad ng-star-inserted")
    table_class_data=test.findAll("table",class_="fund-table-grid-hold no-row-diff")
    for xyz in table_class_data:

      header_value=[]
      table_header=xyz.find("thead")
      data = [[td.findChildren(text=True) for td in tr.findAll("th",class_="light-bold")] for tr in table_header]
      for i in data:
        for y in i:

          header_value.append(y[0])
      table_data=xyz.find("tbody")
      
      rows=table_data.findAll('tr',class_='ng-star-inserted')
      
      final_table_data=[]
      for tr in rows:
        s1={}
      
        table_data=[]
        for td in tr.findAll("td"):
          table_data.append(td.text)

      
        s1[header_value[0]]=table_data[0]
        s1[header_value[1]]=table_data[1]
        s1[header_value[2]]=table_data[2]
        s1[header_value[3]]=table_data[3]
      

        final_table_data.append(s1)
      
      
    return final_table_data

# find_portfolio_details(x1)

In [0]:
def find_key_inform(data_value):
  table=data_value.find("table", class_="fund-table-grid border basicData float-left")
  rows=table.findAll('tr',class_='ng-star-inserted')
  data = [[td.findChildren(text=True) for td in tr.findAll("td")] for tr in rows]
  find_key_inform={}
  for i in data[1:]:
    if len(i)!=0:
      find_key_inform[i[0][0]]=remove_unwanted(i[1])
  
  return find_key_inform

In [0]:
final_output=[]
x1=soup.find("div",class_="width-100 ng-star-inserted").findAll("div",class_="fund-grid-container dashed ng-star-inserted")
for pq in x1:
  s1={}
  
  # method to extract the list or index of the points
  title=pq.find("h3").text
  s1["title"]=title.strip(title[:3])

  # Descrbtion of the points 
  desc=pq.find("p", class_="bq-class").text
  
  s1["description"]=desc
  s1["key_information"]=find_key_inform(pq)
  s1["Growth_of_10000_investment_over_the_years"]=growth_table([pq])
  s1["Returns_data"]=return_data_output([pq])
  s1["Historical_data"]=historical_Data_output([pq])
  s1["fund_manager_Details"]=find_fund_manager([pq])
  s1["Assest_Allocation_Details"]=find_Assest_Allocation([pq])
  s1["portfolio_Details"]=find_portfolio_details([pq])
  final_output.append(s1)
# print(final_output)

In [0]:
# for i in final_output[:1]:
#   pprint(i)

In [0]:
newline_string=""
import json
for i in final_output:
   newline_string=newline_string + json.dumps(i) + "\n"

# print(newline_string)

In [0]:
# saving to a file 
f = open("demofile2.json", "w+")
f.write(newline_string)
f.close()

In [0]:
import pandas as pd

In [0]:
# Creates DataFrame.  
df = pd.DataFrame(final_output)

In [26]:
df

                                        title  ...                                  portfolio_Details
0       Principal Nifty 100 Equal Weight Fund  ...  [{'Name': ' The New India Assurance Co Ltd (Fi...
1           ICICI Prudential Nifty Index Fund  ...  [{'Name': ' Reliance Industries Ltd (Energy)Eq...
2                        UTI Nifty Index Fund  ...  [{'Name': ' HDFC Bank Ltd (Financial Services)...
3                             IDFC Nifty Fund  ...  [{'Name': ' HDFC Bank Ltd (Financial Services)...
4        Franklin India Index Fund Nifty Plan  ...  [{'Name': ' HDFC Bank Ltd (Financial Services)...
5                        SBI Nifty Index Fund  ...  [{'Name': ' HDFC Bank Ltd (Financial Services)...
6                       IDBI Nifty Index Fund  ...  [{'Name': ' HDFC Bank Ltd (Financial Services)...
7        Nippon India Index Fund - Nifty Plan  ...  [{'Name': ' HDFC Bank Ltd (Financial Services)...
8                     LIC MF Index Fund Nifty  ...  [{'Name': ' HDFC Bank Ltd (Financial Services)...
9   ICICI Prudential Nifty Next 50 Index Fund  ...  [{'Name': ' Avenue Supermarts Ltd (Consumer De...

[10 rows x 9 columns]